@charset "utf-8";

html {
    background-color: lightblue;
}

nav {
    background-color: cyan;
    color: black;
}

body {
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}

body > article {
    letter-spacing: 0.01em;
}

header > h1 {
    background: linear-gradient(to right, navy, cyan);
    color: white;
    font-size: 2em;
}

footer {
    background-color: cyan;
}